@model ActionResponse<List<Role>>

@{
    ViewBag.Title = LocalMessage.RoleSearch;
    ViewBag.Keywords = "";
    ViewBag.Description = LocalMessage.RoleSearch;
}

@{
    Html.RenderPartial(MVC.Shared.Views.Partials._AddButton, new AddButtonModel
    {
        ModalTitle = LocalMessage.AddRole,
        EntityName = nameof(Role),
        FormUrl = Url.Action(MVC.Role.ActionNames.GetForm, MVC.Role.Name),
        Title = LocalMessage.AddRole
    });

    Html.RenderPartial(MVC.Shared.Views.Partials._AddButton, new AddButtonModel(true)
    {
        ModalTitle = LocalMessage.UserManagmentInRole,
        EntityName = nameof(UserInRole),
        FormUrl = Url.Action(MVC.Role.ActionNames.GetAddUserInRole, MVC.Role.Name),
        IsDisableAddButton = true
    });

    Html.RenderPartial(MVC.Shared.Views.Partials._AddButton, new AddButtonModel(true)
    {
        ModalTitle = LocalMessage.ViewManagmentInRole,
        EntityName = nameof(ViewInRole),
        FormUrl = Url.Action(MVC.Role.ActionNames.GetAddViewInRole, MVC.Role.Name),
        IsDisableAddButton = true
    });
}

@{
    Html.RenderPartial(MVC.Shared.Views._SharedSearch, new SearchPartialModel
    {
        ActionUrl = Url.Action(MVC.Role.ActionNames.Search, MVC.Role.Name),
        EntityName = nameof(Role),
        Model = new FilterRoleModel(),
        PartialViewName = MVC.Role.Views.Partials._SearchRole
    });

    <div id="loadingOver" style="position:relative;">
        <div id="@(nameof(Role))_SearchResultContainer">
            @if (Model.IsNotNull())
            {
                Html.RenderPartial(MVC.Role.Views.Partials._SearchList, Model.Result);
            }
        </div>
    </div>
}

@section Scripts{
    <script src="@Links.Scripts.Plugins.jquery_dataTables_min_js"></script>
    <script src="@Links.Scripts.Plugins.jquery_custom_search_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jquery_custom_modal_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Own.RoleController_js" type="text/javascript"></script>
}