@model List<PricingItem>

@{
    Layout = null;
}

<div class="card d-none d-md-block d-lg-block">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <table id="data-table" class="table-striped table dataTable" role="grid" aria-describedby="data-table_info">
                    <thead class="thead-default">
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" aria-sort="ascending">#</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1">@Html.DisplayNameFor(item => item.FirstOrDefault().CategoryId)</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1">@Html.DisplayNameFor(item => item.FirstOrDefault().DocumentType)</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1">@Html.DisplayNameFor(item => item.FirstOrDefault().Price)</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1">@Html.DisplayNameFor(item => item.FirstOrDefault().CopyPrice)</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1">@Html.DisplayNameFor(item => item.FirstOrDefault().IsPricingItem)</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1">@LocalMessage.Action</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @if (Model.IsNotNull() && Model.Any())
                        {
                            int count = 1;
                            foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td class="sorting_1">@count</td>
                                    <td>@item.CategoryId.GetLocalizeDescription()</td>
                                    <td>@($"{item.DocumentType}")</td>
                                    <td>@(item.Price.ToString("0,0"))</td>
                                    <td>@(item.CopyPrice.ToString("0,0"))</td>
                                    <td><i class="zmdi zmdi-@(item.IsPricingItem ? "check active-color" : "close deactive-color") f-s-20"></i></td>
                                    <td>
                                        <div class="actions">
                                            <div class="dropdown actions__item">
                                                <i data-toggle="dropdown" class="zmdi zmdi-more-vert" aria-expanded="false"></i>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="" edit-item-modal="@($"{nameof(PricingItem)}")" data-edit-url="@(Url.Action(MVC.PricingItem.ActionNames.GetForm,MVC.PricingItem.Name, new { id= item.PricingItemId}))" data-modal-title="@LocalMessage.PricingItemChannel" class="dropdown-item"><i class="zmdi zmdi-edit"></i>&nbsp;@LocalMessage.Edit</a>
                                                    <a href="" data-delete-url="@(Url.Action(MVC.PricingItem.ActionNames.Delete,MVC.PricingItem.Name, new { id= item.PricingItemId}))" data-modal-title="@LocalMessage.DeletePricingItem" class="dropdown-item"><i class="zmdi zmdi-delete"></i>&nbsp;@LocalMessage.Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@if (Model.Any())
{
    <div class="d-none d-768px">
        <div class="toolbar">
            <div class="toolbar__label">
                @LocalMessage.SearchResult
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title under-border">@($"{Html.DisplayNameFor(x => item.CategoryId)} : {item.CategoryId.GetLocalizeDescription()}")</h3>
                    <div class="actions">
                        <div class="dropdown actions__item">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert" aria-expanded="false"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="" edit-item-modal="@($"{nameof(PricingItem)}")" data-edit-url="@(Url.Action(MVC.PricingItem.ActionNames.GetForm,MVC.PricingItem.Name, new { id= item.PricingItemId}))" data-modal-title="@LocalMessage.PricingItemChannel" class="dropdown-item f-s-12"><i class="zmdi zmdi-edit f-s-20"></i>&nbsp;@LocalMessage.Edit</a>
                                <a href="" data-delete-url="@(Url.Action(MVC.PricingItem.ActionNames.Delete,MVC.PricingItem.Name, new { id= item.PricingItemId}))" data-modal-title="@LocalMessage.DeletePricingItem" class="dropdown-item f-s-12"><i class="zmdi zmdi-delete f-s-20"></i>&nbsp;@LocalMessage.Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="standard-item">
                        <i class="zmdi zmdi-collection-text f-s-20"></i>
                        @($"{Html.DisplayNameFor(x => x.FirstOrDefault().DocumentType)} : {item.DocumentType ?? LocalMessage.Unknown}")
                    </div>
                    <div class="standard-item">
                        <i class="zmdi zmdi-money f-s-20"></i>
                        @($"{Html.DisplayNameFor(x => x.FirstOrDefault().Price)} : {item.Price.ToString("0,0")}")
                    </div>

                    <div class="standard-item">
                        <i class="zmdi zmdi-copy f-s-20"></i>
                        @($"{Html.DisplayNameFor(x => x.FirstOrDefault().CopyPrice)} : {item.CopyPrice}")
                    </div>

                    <div class="standard-item">
                        <i class="zmdi zmdi-badge-check f-s-20"></i>
                        @($"{Html.DisplayNameFor(x => x.FirstOrDefault().IsPricingItem)} : ") <i class="zmdi zmdi-@(item.IsPricingItem ? "check active-color" : "close deactive-color") f-s-20"></i>
                    </div>

                </div>
            </div>
        }
    </div>
}