@model ActionResponse<AddUserInRoleModel>

@{
    <div class="row">
        @if (Model.IsNotNull() && Model.IsSuccessful)
        {
            <form id=@($"{nameof(UserInRole)}_FormControls") data-submit-action="@Url.Action(MVC.Role.ActionNames.AddUserInRole, MVC.Role.Name)" class="col-12">
                <div class="row">

                    @Html.HiddenFor(x => Model.Result.RoleId)

                    <div class="col-sm-6 m-b-20" dir="rtl">
                        <div class="form-group">
                            @Html.Label(LocalMessage.EnteredMobileNumber)
                            @Html.TextBox("Result_SearchMobileNumber", null, new { @class = "form-control ltr-dir only-digit", @maxlength = "11", @placeholder = "exp : 09389876543" , @data_action_url=Url.Action(MVC.Role.ActionNames.FindUser, MVC.Role.Name, new { @roleId = Model.Result.RoleId }) })
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                    <div id="ShowUserFullName" class="col-sm-6 m-b-30" dir="rtl">
                        <div class="form-group has-warning">
                            <div class="form-control form-control-warning" style="margin-top:26px;padding-right:30px; border-bottom:0px;">
                                @LocalMessage.MobileNumberNotEntered
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 m-b-20" dir="rtl">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Result.ExpireDateSh)
                            @Html.TextBoxFor(x => x.Result.ExpireDateSh, null, new { @class = "form-control ltr-dir pdate", @style = "padding-left: 40px;" })
                            <i class="form-group__bar"></i>
                        </div>
                        <small class="text-danger"> @Html.ValidationMessageFor(x => x.Result.ExpireDateSh) </small>
                    </div>

                    <div class="col-sm-6 m-b-20">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Result.IsActive)
                            <div class="select">
                                @Html.DropDownListFor(x => x.Result.IsActive, (List<SelectListItem>)ViewBag.ActiveStatus, new { @class = "form-control" })
                                <i class="form-group__bar"></i>
                                <small class="text-danger"> @Html.ValidationMessageFor(x => x.Result.IsActive) </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 m-b-20">
                        <button id="AddUserInRoleSubmitForm" class="btn-action rtl waves-effect m-r-10" type="button">
                            <div class="text">
                                @LocalMessage.Save
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-floppy"></i>
                            </div>
                        </button>
                    </div>

                </div>
            </form>
        }
        else
        {
            <div class="text-center text-danger">@LocalMessage.BadRequest</div>
        }
    </div>
}


    <div id="UserRoles" class="orang-vertical-scroll" style="max-height:220px;">
        <div class="empty-row">
            @LocalMessage.RolesNotFound
        </div>
    </div>