@model Order
@{
    ViewBag.Title = LocalMessage.OrderManagment;
}
@section Header{

    <link href="@Url.Content(Links.Content.Styles.Console.Attachment.common_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Console.Order.common_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Console.OrderName.common_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Console.OrderItems.common_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Console.OrderAdmin.edit_mobile_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Scripts.Plugins.dropzone.dropzone_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Shared.flickity_min_css)" rel="stylesheet" />
}
@Html.HiddenFor(x => x.OrderId)
<div class="order-row">
    <div class="w-full m-t-20">
        <div class="col-12 p-0">
            <div class="tab-container toolbar border-0" style="margin: -15px;margin-bottom: 10px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-0">
                        <a class="nav-link active  p-b-0" data-toggle="tab" href="#order-detail" role="tab" aria-expanded="true">
                            <i class="zmdi zmdi-grid icon-profile d-sm-none d-md-block"></i>
                            شرح سفارش
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link p-b-0" data-toggle="tab" href="#items-wrapper" role="tab" aria-expanded="true">
                            <i class="zmdi zmdi-grid icon-profile d-sm-none d-md-block"></i>
                            آیتم ها
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link p-b-0" data-toggle="tab" href="#Transactions" role="tab">
                            <i class="zmdi zmdi-grid icon-profile d-sm-none d-md-block"></i>
                            پرداخت ها
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link  p-b-0" data-toggle="tab" role="tab" aria-expanded="false" href="#@(AttachmentType.OrderFiles.ToString())">
                            <i class="zmdi zmdi-file icon-profile d-sm-none d-md-block"></i>
                            مدارک سفارش
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link p-b-0 p-t-5" data-toggle="tab" href="#Names" role="tab">
                            <i class="zmdi zmdi-grid icon-profile d-sm-none d-md-block"></i>
                            اسامی موجود در ترجمه
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show " id="order-detail" role="tabpanel">
                    @{Html.RenderPartial(MVC.OrderAdmin.Views.Partials._Order, Model);}
                </div>
                <div class="tab-pane fade" id="items-wrapper" role="tabpanel" aria-expanded="true" data-remove-url="@Url.Action(MVC.OrderItem.ActionNames.Delete,MVC.OrderItem.Name)">

                    <div class="w-full btn-modal-wrapper">
                        <button class="btn-show-modal">
                            <i class="zmdi zmdi-plus"></i>اضافه نمودن مدرک جدید

                        </button>
                    </div>

                    <div class="order-items w-full">
                        @{Html.RenderPartial(MVC.OrderItem.Views.Partials._EditableList_Mobile, Model.OrderItems);}

                    </div>

                    <div class="nav-actions m-t-10">
                        <div class="w-full result">
                            <span class="lbl">مبلغ کل سفارش:</span>
                            <span class="val total-sum">@Model.TotalPrice().ToString("N0")</span>
                        </div>
                        <button class="btn-action rtl waves-effect btn-submit-order-items" type="button" data-strategy="save" data-url="@Url.Action(MVC.OrderAdmin.ActionNames.Edit, MVC.OrderAdmin.Name, new { OrderId = Model.OrderId })">
                            <div class="text">
                                ثبت سفارش
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-arrow-left"></i>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="tab-pane fade show " id="Transactions" role="tabpanel">
                    <br />
                    <br />
                    @{Html.RenderAction(MVC.Transaction.ActionNames.AddableList, MVC.Transaction.Name, new { orderId = Model.OrderId });}
                </div>

                <div class="tab-pane fade " id="@(AttachmentType.OrderFiles.ToString())" role="tabpanel" aria-expanded="false">

                    <div class="row m-r-0 attachments-type">
                        <div class="col-xs-1 p-r-0 wrapper">
                            <div class="radio-wrapper col-sm-1 activate @(AttachmentType.OrderFiles) attachments-type-select" data-type="@(AttachmentType.OrderFiles)">
                                <label class="custom-control custom-radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">اسکن مدارک سفارش</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1 p-r-0 wrapper ">
                            <div class="radio-wrapper   @(AttachmentType.Identity) attachments-type-select" data-type="@(AttachmentType.Identity)">
                                <label class="custom-control custom-radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">اسکن پاسپورت</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1 p-r-0 wrapper">
                            <div class="radio-wrapper  @(AttachmentType.Translation) attachments-type-select" data-type="@(AttachmentType.Translation)">
                                <label class="custom-control custom-radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">اسکن پیش نویش ترجمه</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="dropzone-uploader dropzone-uploader-@(AttachmentType.OrderFiles)" id="upload-attachments" data-upload-url="@Url.Action(MVC.Attachment.ActionNames.AddOrderAttachments, MVC.Attachment.Name, new { orderId = Model.OrderId ,attachmentType = AttachmentType.OrderFiles })">
                    </div>
                    <div class="dropzone-uploader hide dropzone-uploader-@(AttachmentType.Identity)" id="upload-identity-attachments" data-upload-url="@Url.Action(MVC.Attachment.ActionNames.AddOrderAttachments, MVC.Attachment.Name, new { orderId = Model.OrderId ,attachmentType = AttachmentType.Identity })">
                    </div>
                    <div class="dropzone-uploader hide dropzone-uploader-@(AttachmentType.Translation)" id="upload-translation-attachments" data-upload-url="@Url.Action(MVC.Attachment.ActionNames.AddOrderAttachments, MVC.Attachment.Name, new { orderId = Model.OrderId ,attachmentType = AttachmentType.Translation })">
                    </div>
                    <br />
                    <div class="attchs-wrapper" data-url="@Url.Action(MVC.Attachment.ActionNames.GetOrderAttachments,MVC.Attachment.Name,new { orderId = Model.OrderId, attachmentType= AttachmentType.OrderFiles })">
                        @{Html.RenderPartial(MVC.Attachment.Views.Partials._List, Model.Attachments.Where(x => x.AttachmentType == AttachmentType.OrderFiles));}
                        @{Html.RenderPartial(MVC.Attachment.Views.Partials._List, Model.Attachments.Where(x => x.AttachmentType == AttachmentType.Identity));}
                        @{Html.RenderPartial(MVC.Attachment.Views.Partials._List, Model.Attachments.Where(x => x.AttachmentType == AttachmentType.Translation));}
                    </div>
                </div>
                <div class="tab-pane fade" id="Names" role="tabpanel">
                    <br />
                    <br />
                    <div class="row">
                        @{
                            if (Model.OrderNames != null && Model.OrderNames.Count() > 0)
                            {
                                foreach (var item in Model.OrderNames)
                                {
                                    Html.RenderPartial(MVC.OrderName.Views.Partials._ShowItem, item);
                                }
                            }
                        }
                        <div class="col-xs-12 col-sm-6 col-md-4 add-order-name">
                            <div class="wrapper wrapper-border">
                                @{Html.RenderPartial(MVC.OrderName.Views.Partials._OrderName, new OrderName { OrderId = Model.OrderId });}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@{Html.RenderPartial(MVC.Order.Views.Partials._AddOrderItem_Mobile); }
@section Scripts{
    <script type="text/javascript">
        window.CRISP_READY_TRIGGER = () => {
            $crisp.push(["do", "chat:hide"]);
        };
    </script>
    <script src="@Url.Content(Links.Scripts.Plugins.Flickity.flickity_pkgd_min_js)"></script>
    <script src="@Url.Content(Links.Scripts.Console.OrderAdmin.edit_mobile_js)"></script>
    <script src="@Url.Content(Links.Scripts.Console.OrderName.common_js)"></script>
    <script src="@Url.Content(Links.Scripts.Console.order_item_js)"></script>
    <script src="@Url.Content(Links.Scripts.Plugins.dropzone.dropzone_js)"></script>
    <script src="@Url.Content(Links.Scripts.Plugins.dropzone.fire_dropzone_js)"></script>
}