@model ActionResponse<Role>

@{
    <div class="row">
        @if (Model.IsNotNull() && Model.IsSuccessful)
        {
            <form id=@($"{nameof(Role)}_FormControls") data-submit-action="@Url.Action(MVC.Role.ActionNames.FormSubmited, MVC.Role.Name)" class="col-12">
                <div class="row">

                    @if (Model.Result.RoleId > 0)
                    {
                        @Html.HiddenFor(x => x.Result.RoleId)
                    }

                    <div class="col-sm-6 m-b-20" dir="rtl">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Result.RoleNameFa)
                            @Html.TextBoxFor(x => x.Result.RoleNameFa, null, new { @class = "form-control type-fa" })
                            <i class="form-group__bar"></i>
                        </div>
                        <small class="text-danger"> @Html.ValidationMessageFor(x => x.Result.RoleNameFa) </small>
                    </div>

                    <div class="col-sm-6 m-b-20" dir="rtl">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Result.RoleNameEn)
                            @Html.TextBoxFor(x => x.Result.RoleNameEn, null, new { @class = "form-control ltr-dir" })
                            <i class="form-group__bar"></i>
                        </div>
                        <small class="text-danger"> @Html.ValidationMessageFor(x => x.Result.RoleNameEn) </small>
                    </div>

                    <div class="col-sm-6 m-b-20">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Result.IsActive)
                            <div class="select">
                                @Html.DropDownListFor(x => x.Result.IsActive, (List<SelectListItem>)ViewBag.ActiveStatus, new { @class = "form-control" })
                                <i class="form-group__bar"></i>
                                <small class="text-danger"> @Html.ValidationMessageFor(x => x.Result.IsActive) </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 m-b-20">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Result.IsDefault)
                            <div class="select">
                                @Html.DropDownListFor(x => x.Result.IsDefault, (List<SelectListItem>)ViewBag.DefaultStatus, new { @class = "form-control" })
                                <i class="form-group__bar"></i>
                                <small class="text-danger"> @Html.ValidationMessageFor(x => x.Result.IsDefault) </small>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        }
        else
        {
            <div class="empty-row">@LocalMessage.BadRequest</div>
        }
    </div>
}