<header>
    <section class="container">
        <div class="col col-xs-12 col-sm-3 col-md-2 col-lg-2 logo">
            <a href="http://www.rasmionline.com" /><img src="http://www.rasmionline.com/wp-content/themes/Rasmi-ttthu/images/Logo.png"></a>
        </div>
        <nav class="col col-xs-12 col-sm-7 col-md-8 col-lg-8">
            <div class="menu-main-container">
                <ul id="menu-main" class="menu">
                    <li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-4"><a href="http://www.rasmionline.com/">خانه</a></li>
                    <li id="menu-item-122" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-122">
                        <a href="#">خدمات</a>
                        <ul class="sub-menu">
                            <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="http://www.rasmionline.com/%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d9%85%d8%af%d8%a7%d8%b1%da%a9-%d8%aa%d8%ad%d8%b5%db%8c%d9%84%db%8c/">ترجمه مدارک تحصیلی</a></li>
                            <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="http://www.rasmionline.com/%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c-%d8%b4%d9%86%d8%a7%d8%b3%d9%86%d8%a7%d9%85%d9%87/">ترجمه رسمی شناسنامه</a></li>
                            <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="http://www.rasmionline.com/%d8%af%d8%a7%d8%b1%d8%a7%d9%84%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c-%d8%aa%d9%87%d8%b1%d8%a7%d9%86/">دارالترجمه رسمی در تهران</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="http://www.rasmionline.com/%d8%aa%d8%b9%d8%b1%d9%81%d9%87-%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c/">تعرفه خدمات</a></li>
                    <li id="menu-item-47" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-47"><a href="http://www.rasmionline.com/category/%d9%88%d8%a8%d9%84%d8%a7%da%af/">وبلاگ</a></li>
                    <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://www.rasmionline.com/%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%a7/">تماس با ما</a></li>
                </ul>
            </div>            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="logo"><a href="http://www.rasmionline.com"><img src="http://www.rasmionline.com/wp-content/themes/Rasmi-ttthu/images/Logo.png" class="img-fluid" alt=""></a></div>
                <ul class="menu-responsive">
                    <div class="menu-main-container">
                        <ul id="menu-main-1" class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-4"><a href="http://www.rasmionline.com/">خانه</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-122">
                                <a href="#">خدمات</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="http://www.rasmionline.com/%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d9%85%d8%af%d8%a7%d8%b1%da%a9-%d8%aa%d8%ad%d8%b5%db%8c%d9%84%db%8c/">ترجمه مدارک تحصیلی</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="http://www.rasmionline.com/%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c-%d8%b4%d9%86%d8%a7%d8%b3%d9%86%d8%a7%d9%85%d9%87/">ترجمه رسمی شناسنامه</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="http://www.rasmionline.com/%d8%af%d8%a7%d8%b1%d8%a7%d9%84%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c-%d8%aa%d9%87%d8%b1%d8%a7%d9%86/">دارالترجمه رسمی در تهران</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="http://www.rasmionline.com/%d8%aa%d8%b9%d8%b1%d9%81%d9%87-%d8%aa%d8%b1%d8%ac%d9%85%d9%87-%d8%b1%d8%b3%d9%85%db%8c/">تعرفه خدمات</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-47"><a href="http://www.rasmionline.com/category/%d9%88%d8%a8%d9%84%d8%a7%da%af/">وبلاگ</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://www.rasmionline.com/%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%a7/">تماس با ما</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </nav>
       

        @if (!User.Identity.IsAuthenticated)
        {
            <ul class="col col-xs-12 col-sm-2 col-md-2 col-lg-2 login-top">
                <li>
                    <a class='btn-register' href="@Url.Action(MVC.OAuth.ActionNames.Index, MVC.OAuth.Name, new { active = "signup" })">ورود به سایت</a>
                    <a class='btn-order' href="@Url.Action(MVC.OAuth.ActionNames.Index, MVC.OAuth.Name, new { active = "signin" })">ثبت سفارش</a>
                </li>
            </ul>
        }
        else
        {
            var user = User as ICurrentUserPrincipal;
            <div class="col col-xs-12 col-sm-6 col-md-2 col-lg-2 login-top logged-in">
                <a href="@Url.Action(MVC.Dashboard.ActionNames.Index,MVC.Dashboard.Name)"><i class="fa fa-user"></i> @user.FullName</a>
                &nbsp;|&nbsp;
                <a href="@Url.Action(MVC.OAuth.ActionNames.SignOut,MVC.OAuth.Name)"><i class="fa fa-power-off"></i></a>
            </div>

        }
    </section>
</header>
